<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | LAY-8 MAP</title>
</head>
<body>
    <main>
        <h2>Paso 3: Datos Academicos</h2>
        <p>Ingresa tus datos academicos para personalizar tu experiencia!</p>
        
        <form action="" method="post">
            
            <label for="carrera">Carrera</label><br>
            
            <datalist id="carreras">
                <option value="Ingenieria Informatica">
                <option value="Ingenieria Maritima">
                <option value="Ingenieria Ambiental">
                <option value="Licenciatura en Turismo">
                <option value="Licenciatura en Administracion">
            </datalist>
            <input type="text" id="carrera" name="carrera" list="carreras" required><br><br>
            
            <input type="submit" value="Finalizar Registro">
    </main>
</body>
</html>